
snippet datemodified
													——————————————————————————
													| Modified on `strftime("%Y-%m-%d")` |
													——————————————————————————
endsnippet

snippet basename
`!p snip.rv = snip.basename or "untitled"`
endsnippet

