/* See https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/Tutorial/Modifying_the_Default_Skin */
/* And http://kb.mozillazine.org/UserChrome-example.css */
/* Useful for Adwaita-dark theme of LXappearence. */
/* In the profil folder, create a folder "chrome" and place this file in it. */

/*
 Declare userContent.css make a bug
    - during the load page mail.google.com: the text is displayed in grey,
        and not in black
    - in the connection page of cas-uga.grenet.fr: the backrong-color is grey
        and not white.
 * When we havn't file userContent.css: no problems.
 * When we have file userContent.css and not Adwaita-dark then (like Adwaita) in
        LXappearence: no problems.
 */

/*
 * Doesn't work for locals files
 */

html {
    color: black;
}

input, textarea, select {
    /** Sometimes, background in some website, userContent background rule
     * doesn't work. For example, alt localhost:4200 for my
     * medicalCenter project. Works for bing.
     * Does not work for all textarea on firefox 56 (waterfox), but works on firefox 69
     */
    background-color: rgba(255, 255, 255, 1) !important;
    /* red because black on grey is difficult to seen when rule background
     * in userContent.css doesn't work.
     */
    color: red !important;
    /* color: black; */
}

fieldset {
    border: 2px groove white;
}

textarea {
    border: 2px inset white;
}
