/* https://www.reddit.com/r/FirefoxCSS/comments/encagv/move_url_bar_to_bottom_in_ff72/ */

/* Bring the browser window to the top */
#browser {
  -moz-box-ordinal-group: 0;
}

/* Open the popup on top of tabar */
#urlbar-container .urlbarView {
  bottom: 497px;
  background-color: black;
}

